@import 'userSelectMixin';

.leftPositioned {
  float: left;
}
.rightPositioned {
  float: right;
}
.clearPositioning {
  clear: both;
}
.centerAligned {
  text-align: center;
}

body {
  * {
    @include user-select();
  }

  .bigButton {
    font-size: 200%;
    padding: 25px;
  }

  .absoluteControls {
    display: inline;

    .controlBtn {
      padding: 10px 40px;
    }
    .topLeftCorner {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .topRightCorner {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .gameHeader {
    margin-top: 20px;
    text-align: center;
  }

  .contentContainer {
    .stateContainer {
      text-align: center;

      .activePlayerPane {

      }
    }

    .gameBoardContainer {
      text-align: center;

      .gameRow {
        font-size: 0; // eliminates cell spacing

        .gameCell {
          border: 1px solid black;
          display: inline-block;
          float: none;
          height: 200px;
          padding: 0;
          margin: 2px;
          text-align: center;
          width: 200px;

          .gameSquare {
            background: #efefef;
            border: none;
            box-shadow: inset 1px 1px 5px black;
            font-size: 72px;
            height: 100%;
            outline: none;
            width: 100%;
          }
          .gameSquare.disabled {
            background-color: #fff;
            box-shadow: none;
          }
          .gameSquare.winningSquare {
            background-color: lightgreen;
          }
        }
      }
    }

    .scoreContainer {
      text-align: center;

      .valueContainer {
        padding: 0;

        .header {
          border-bottom: 1px solid #ccc;
        }
        .value {

        }
      }
    }
  }

  .modalContainer {
    .subTitle {
      display: block;
    }
  }

  footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    bottom: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;

    .version {
      color: #aaa;
      float: right;
    }

    .copyright {
      color: #aaa;
    }
  }
}